{% extends 'base.html' %}
{% block content %}
{% include "singlepageheader.html" with page="CheckOut" %}

<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        
        <form action="#" id="checkoutForm">
            {% csrf_token %}
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    {% if not request.user.is_authenticated %}

                    <div id="fullForm">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3" for="firstName">First Name<sup>*</sup></label>
                                    <input type="text" id="firstName" name="firstName" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-item w-100">
                                    <label class="form-label my-3" for="lastName">Last Name<sup>*</sup></label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3" for="companyName">Company Name</label>
                            <input type="text" id="companyName" name="companyName" class="form-control" required>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3" for="mobile">Mobile<sup>*</sup></label>
                            <input type="tel" id="mobile"  name="mobile" class="form-control" required>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3" for="emailAddress">Email Address<sup>*</sup></label>
                            <input type="email" id="emailAddress"  name="emailAddress" class="form-control" required>
                        </div>
                        <div class="form-check my-3">
                            <input type="checkbox" class="form-check-input" id="Account-1" name="createAccount" value="yes">
                            <label class="form-check-label" for="Account-1">Create an account?</label>

                        </div>
                    </div>
                    {% endif %}

                    <div class="form-check my-3" style="display: none;">
                        <input class="form-check-input" type="checkbox" id="NewAddress" name="NewAddress" value="New Address">
                        <label class="form-check-label" for="NewAddress">Choose diffrent address</label>
                    </div>
                    <div id="billingAddressForm">
                        {% if not addresses.first %}

                        <div class="form-item">
                            <label class="form-label my-3" for="billingAddress">Address <sup>*</sup></label>
                            <input type="text" id="billingAddress"  name="billingAddress" class="form-control" placeholder="House Number Street Name" required>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3" for="billingCity">Town/City<sup>*</sup></label>
                            <input type="text" id="billingCity" name="billingCity" class="form-control" required>
                        </div>

                        <div class="form-item">
                            <label class="form-label my-3" for="billingState">State<sup>*</sup></label>
                            <input type="text" id="billingState" name="billingState" class="form-control" required>
                        </div>

                        <div class="form-item">
                            <label class="form-label my-3" for="billingCountry">Country<sup>*</sup></label>
                            <input type="text" id="billingCountry" name="billingCountry" class="form-control" required>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3" for="billingPostcode">Postcode/Zip</label>
                            <input type="text" id="billingPostcode" name="billingPostcode" class="form-control" required>
                        </div>
                        {% endif %}

                    </div>
                   
                    
                    <hr>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="checkbox" id="Address-1" name="Address-1" >
                        <label class="form-check-label" for="Address-1">Ship to a different address?</label>
                    </div>
                        <div id="shippingAddressForm" style="display:none;">
                            <div class="form-item">
                                <label class="form-label my-3" for="shippingAddress">Address <sup>*</sup></label>
                                <input type="text" id="shippingAddress" name="shippingAddress" class="form-control" placeholder="House Number Street Name">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3" for="shippingCity">Town/City<sup>*</sup></label>
                                <input type="text" id="shippingCity" name="shippingCity" class="form-control">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3" for="shippingState">State<sup>*</sup></label>
                                <input type="text" id="shippingState" name="shippingState" class="form-control">
                            </div>

                            <div class="form-item">
                                <label class="form-label my-3" for="shippingCountry">Country<sup>*</sup></label>
                                <input type="text" id="shippingCountry" name="shippingCountry" class="form-control">
                            </div>
                            <div class="form-item">
                                <label the="form-label my-3" for="shippingPostcode">Postcode/Zip<sup>*</sup></label>
                                <input type="text" id="shippingPostcode" name="shippingPostcode" class="form-control">
                            </div>
                        </div>
                        <div class="form-item">
                            <textarea name="orderNotes" id="orderNotes" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Order Notes (Optional)"></textarea>
                        </div>
                        <div class="row m-3 p-3">
                            {% for address in addresses %}
                            <div class="col-md-4 mb-3">
                                <div class="card address-card" data-address-id="{{ address.id }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ address.get_address }}</h5>
                                        <p class="card-text">{{ address.name }}<br>{{ address.address_line }}, {{ address.city }}<br>{{ address.state }}, {{ address.postal_code }}<br>{{ address.country }}</p>
                                        <button type="button" class="btn btn-primary select-address" data-address-id="{{ address.id }}">Select This Address</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="{{ item.product.image.url }}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="{{ item.product.title }}">
                                        </div>
                                    </th>
                                    <td class="py-5">{{ item.product.title }}</td>
                                    <td class="py-5">${{ item.price_after_discount|floatformat:"1" }}</td>
                                    <td class="py-5">{{ item.quantity|floatformat:"1" }}</td>
                                    <td class="py-5">${{ item.get_total_price|floatformat:"2" }}</td>
                                </tr>
                                {% endfor %}

                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Subtotal</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">${{ total_price|floatformat:"2" }}</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-4">Shipping</p>
                                    </td>
                                    <td colspan="3" class="py-5">
                                        <div class="form-check text-start">
                                            <label class="form-check-label" for="Shipping-1">Free Shipping</label>
                                        </div>
                                        <div class="form-check text-start">
                                            <label class="form-check-label" for="Shipping-2">Flat rate: $15.00 (Added)</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">${{ total_price|floatformat:"2" }}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Payment Method Selection -->
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Delivery-1" name="paymentMethod" value="cash_on_delivery" required>
                                <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                            </div>
                            <div class="form-check text-start my-3">
                                <input type="radio" class="form-check-input bg-primary border-0" id="Paypal-1" name="paymentMethod" value="card">
                                <label class="form-check-label" for="Paypal-1">Paypal/Credit Card</label>
                            </div>
                        </div>
                    </div>

                    <!-- Place Order Button -->
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary form_submit">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirm Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Please confirm that you would like to place this order.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
          <button type="button" class="btn btn-primary" id="confirmOrderBtn">Confirm Order</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- Checkout Page End -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

</script>
<script>

has_pre_address = '{{ has_pre_address }}'
$(document).ready(function() {
    let selectedAddressId = null;

    $('.select-address').on('click', function(e) {
        e.preventDefault();
        $('.address-card').removeClass('bg-success').find('.btn').removeClass('btn-success').removeClass('btn-outline-success').addClass('btn-primary');
        $(this).closest('.card').addClass('bg-outline-success').find('.btn').removeClass('btn-outline-primary').addClass('btn-outline-success');

        selectedAddressId = $(this).data('address-id');
    });

    if (localStorage.getItem('createNewAccount') === 'true') {
        $('#Account-1').prop('checked', true);
    }
    $('#Account-1').change(function() {
        if ($(this).is(':checked')) {
            localStorage.setItem('createNewAccount', 'true');
        } else {
            localStorage.setItem('createNewAccount', 'false');   
        }
    });


    
    if (localStorage.getItem('diffAddress') === 'true') {
        $('#Address-1').prop('checked', true);
        $('#shippingAddressForm').show();
    }


    $('#Address-1').change(function() {
        if ($(this).is(':checked')) {
            $('#shippingAddressForm').slideDown();
            console.log("$(this).is(':checked')",$(this).is(':checked'))
            localStorage.setItem('diffAddress', 'true');
        } else {
            $('#shippingAddressForm').slideUp();

            localStorage.setItem('diffAddress', 'false');
        }
        console.log("$(this).is(':checked')",$(this).is(':checked'))

    });

    $('#checkoutForm').on('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting the traditional way
        if (!selectedAddressId && has_pre_address == 'True') {
            alert('Please select an address.');
            return;
        }

        let paymentMethod = $('input[name="paymentMethod"]:checked').val();
        if (!paymentMethod) {
            alert('Please select a payment method.');
            return;
        }
        // Show confirmation modal
        $('#confirmationModal').modal('show');
    });

    // Handle the confirmation button click
    $('#confirmOrderBtn').click(function() {
        var createAccount = $('#Account-1').is(':checked');
        console.log('createAccount',createAccount)
        var formData = $('#checkoutForm').serialize()+'&addressId=' + selectedAddressId + '&createAccount=' + createAccount;; // Serialize the form data
        

        $.ajax({
            url: '/checkout/submit_order/',
            type: 'POST',
            data: formData,
            dataType: 'json',
            success: function(response) {
                $('#confirmationModal').modal('hide'); // Hide the confirmation modal
                alert('Order has been placed successfully!'); // Show success message

                // Clear local storage or any other states if necessary
                localStorage.clear();

                // Reset cart items count if there's a specific element showing this
                $('#cartItemCount').text('0');

                $('#checkoutForm')[0].reset();
                // Additional UI reset actions if needed
                $('#shippingAddressForm').slideUp(); // Hide shipping form if it was expanded
                // Redirect to the home page
                window.location.href = '/';
            },
            error: function(xhr, status, error) {
                alert('Error: ' + error); // Show an error message
                console.log(xhr.responseText);
            }
        });
    });
});

</script>


{% endblock %}