{% load static %}
<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src='{% static  "theme/lib/easing/easing.min.js" %}'></script>
<script src='{% static  "theme/lib/waypoints/waypoints.min.js" %}'></script>
<script src='{% static  "theme/lib/lightbox/js/lightbox.min.js" %}'> </script>
<script src='{% static  "theme/lib/owlcarousel/owl.carousel.min.js" %}'></script>

<!-- Template Javascript -->
<script src='{% static "theme/js/main.js" %}'></script>

<!-- Add to Cart Button -->
<script src='{% static "theme/js/add_to_cart.js" %}'></script>

<!-- Add to Rating style -->
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

