{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %} Fruitables - Vegetable Website {% endblock title%}  </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% include 'theme/css.html' %}
    {% include 'django_quill/media.html' %}
    {% block header %}
    {% endblock %}
</head>

<body>

    {% include 'navbar.html' with brand_name='eCommerce' %}

    <div class="mx-auto text-center"> {{message}}</div>
    {% block content %}

    {% endblock %}

    {% include 'footer.html' with brand_name='eCommerce' %}
    <!-- Back to Top -->
    {% include 'theme/js.html' %}
    <script>
    var generated_csrf_token = '{{ csrf_token }}';
    console.log('generated_csrf_token',generated_csrf_token)
    </script>

</body>

</html>